<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.kracedemo.mapper.BoardMapper">
    <select id="findByDatetime" resultType="com.example.kracedemo.entity.BoardMessage">
        SELECT * FROM board WHERE createdAt BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findAll" resultType="com.example.kracedemo.entity.BoardMessage">
        SELECT * FROM board
    </select>

    <select id="findById" resultType="com.example.kracedemo.entity.BoardMessage" parameterType="Long">
        SELECT * FROM board WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.example.kracedemo.entity.BoardMessage">
        INSERT INTO board(postUserId, message) VALUES (#{postUserId}, #{message});
        SELECT LAST_INSERT_ID();
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM board WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.kracedemo.entity.BoardMessage">
        UPDATE board SET WHERE 1=1
        <if test="message != null">
            message = #{message},
        </if>
        WHERE id = #{id}
    </update>
</mapper>