<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.kracedemo.mapper.UserMapper">
    <select id="findAll" resultType="com.example.kracedemo.entity.User">
        SELECT * FROM users
    </select>

    <select id="findById" resultType="com.example.kracedemo.entity.User" parameterType="Long">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.example.kracedemo.entity.User">
        INSERT INTO users(username, password) VALUES (#{username}, #{password});
        SELECT LAST_INSERT_ID();
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.example.kracedemo.entity.User">
        UPDATE users SET WHERE 1=1
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password}
        </if>
        WHERE id = #{id}
    </update>

    <select id="findByName" parameterType="String" resultType="com.example.kracedemo.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>
</mapper>